
base_web_app/.terraform/providers/registry.terraform.io/hashicorp/aws/4.53.0/darwin_amd64/terraform-provider-aws_v4.53.0_x5
.DS_Store
base_web_app/.terraform/providers/registry.terraform.io/hashicorp/aws/4.56.0/darwin_amd64/terraform-provider-aws_v4.56.0_x5
base_web_app/.terraform/terraform.tfstate
base_web_app/.terraform.lock.hcl
base_web_app/.terraform.lock.hcl
*.hcl
base_web_app/.terraform/providers/registry.terraform.io/hashicorp/aws/3.76.1/darwin_amd64/terraform-provider-aws_v3.76.1_x5
base_web_app/.terraform.lock.hcl
base_web_app/.terraform/providers/registry.terraform.io/hashicorp/random/3.4.3/darwin_amd64/terraform-provider-random_v3.4.3_x5
base_web_app/.terraform.lock.hcl
